@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./styles/glow.css";
body {
    font-family: system-ui, sans-serif;
    scroll-behavior: smooth;
}
html {
     scroll-behavior: smooth;
 }